<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="logback-appender.xml"/>

    <logger name="com.yapp.bol.logging.HttpLoggingFilter" additivity="false">
        <appender-ref ref="JSON_FILE"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="CONSOLE_FILE"/>
        <appender-ref ref="CONSOLE_CLOUD_WATCH"/>
    </root>

    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.springframework.web" level="INFO"/>
</configuration>
