<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="logback-appender.xml"/>

    <appender name="CONSOLE_CLOUD_WATCH" class="ca.pjer.logback.AwsLogsAppender">

        <logGroupName>prod-api-server</logGroupName>
        <logStreamUuidPrefix>prod-api-console</logStreamUuidPrefix>
        <logRegion>ap-northeast-2</logRegion>
        <maxBatchLogEvents>50</maxBatchLogEvents>
        <maxFlushTimeMillis>30000</maxFlushTimeMillis>
        <maxBlockTimeMillis>5000</maxBlockTimeMillis>
        <retentionTimeDays>0</retentionTimeDays>
        <layout>
            <pattern>${LOG_PATTERN}</pattern>
        </layout>
    </appender>

    <root level="WARN">
        <appender-ref ref="CONSOLE_CLOUD_WATCH"/>
    </root>

    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.springframework.web" level="INFO"/>
</configuration>
